<div class="card card-md">
  <div class="card-body">
    <h2 class="card-title text-center mb-4">Password reset</h2>
    <p class="text-muted mb-4">
      Email with link to reset password was sent, please check your inbox.
    </p>
  </div>
</div>
