<h3 class="mt-5">Edit User</h3>

<%= render "form.html", Map.put(assigns, :action, routes().cms_user_path(@conn, :update, @user)) %>

<%= rlink @conn, "Back", to: routes().cms_user_path(@conn, :index) %>
