<h3 class="mt-5">Edit User</h3>

<%= render "form.html", Map.put(assigns, :action, routes().dashboard_humo_account_user_path(@conn, :update, @user)) %>

<%= can_link @conn, "Back", to: routes().dashboard_humo_account_user_path(@conn, :index) %>
